body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #fff;
    color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
    color: #fff;
}

.navbar-logo img {
    height: 60px;
}

.navbar-search {
    flex: 1;
    margin-left: 20px;
    margin-right: 30px;
   
}

.navbar-search input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
   
    border-radius: 200px;
   
}

.navbar-links {
    display: flex;
    gap: 10px;
}

.navbar-links a {
  margin-right: 30px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ff4d4d;
}

.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    transition: width 0.5s ease;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, border-color 0.3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidenav a .nav-text {
    display: none;
    color: #000;
    margin-left: 10px;
}

.sidenav a:hover {
    background-color: #f1f1f1;
}

.sidenav .menu-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.sidenav .menu-icon {
    height: 30px;
    cursor: pointer;
}

.sidenav.open .nav-text {
    display: inline;
}

.sidenav.open {
    width: 250px;
}

#mainContent {
    margin-top: 100px;
    padding: 20px;
    transition: margin-left 0.5s;



    /* videos style */


    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }
    
    
    
    
    /* videos style */
    
    .container {
        margin-top: 20px;
    }
    
    .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        border-radius: 30px
        
    }

   
           
        
